[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-splash = "*"
pyyaml = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
